@font-face {
  font-family: Agency FB;
  src: url("media/fonts/AgencyFB.ttf") format("truetype"),
    url("media/fonts/AgencyFB-Bold.ttf") format("truetype");
}

:root {
  font-size: 16px;
  --black-color: #0f0f0f;
  --primary-color: #d33434;
  --secondary-color: #1f2732;
  --background-color: #172028;
  --icon-height: 1.5rem;
  --icon-width: 1.5rem;
  --transition: 200ms ease-in-out;
  --white-color: #ffffff;
  --min-height: 3rem;
  --radius: 2rem;
  --text-spacing: 0.5rem;
  --primary-color-darkened: #a32626;
}
* {
  font-family: "Agency FB", arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global styles */

.App {
  overflow: hidden;
  background-color: var(--background-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: var(--min-height);
  font-family: Agency Fb;
  border: none;
  margin-top: 1rem;
  background-color: var(--primary-color);
  font-size: 1.2rem !important;
  cursor: pointer;
  font-size: 1rem;
  color: var(--white-color);
  transition: var(--transition);
  font-family: "Agency FB", arial;
}
.purchase-button-link {
  width: 100%;
  text-decoration: none;
  color: var(--white-color);
}
.primary-color-accent {
  color: var(--primary-color);
}
.subtitle-bottom {
  position: absolute;
  z-index: 1;
  top: -0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}
.subtitle-bottom .description-text {
  margin-bottom: 0;
}

.heading-text {
  text-align: left;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: clamp(1rem, 16vw, 4rem);
  line-height: 5.5rem;
  font-weight: 900;
}

.heading-text span:nth-of-type(1) {
  position: relative;
  color: #ffff;
}

.heading-text span:nth-of-type(2) {
  color: var(--primary-color);
}

.big-text {
  color: var(--black-color);
  font-size: clamp(100px, 0.3vh, 20rem);

  text-align: right;
}
.medium-text {
  color: var(--white-color);
}

.link {
  text-decoration: none;
  color: hsl(240, 100%, 54%);
  font-weight: 300;
  letter-spacing: 1px;
}

.paragraph-text {
  font-size: 1.15rem;
}

.subtitle-text {
  margin-top: 1.5rem;
  color: var(--white-color);
}

.small-text {
  font-size: 0.7rem;
}

/*  */

.hero-section {
  background: url(media/background-gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  height: 90vh;
  overflow: hidden;
  position: relative;
  -webkit-clip-path: polygon(50% 100%, 100% 96%, 100% 0, 0 0, 0 95%);
  clip-path: polygon(50% 100%, 100% 96%, 100% 0, 0 0, 0 95%);
}

.hero-section .button {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  align-self: flex-start;
  background-color: var(--primary-color);

  transition: var(--transition);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.5rem;
  width: 55%;
}
.hero-section .button:hover {
  border: 2px solid transparent;
  background-color: var(--primary-color);
}
/* }
.hero-section::after{
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(34,34,34,1) 100%);


     position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    content: ''

  } */
.heroImg {
  width: 100%;
  height: 100%;
  object-position: right;
  object-fit: cover;

  background: linear-gradient(
    0deg,
    rgba(211, 52, 52, 0.5) 0%,
    rgba(34, 34, 34, 0) 59%
  );
}
.john-crop {
  height: 100%;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  transform: translate(30%, 0);
}
.maskImg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.header-container {
  background-color: rgba(23, 32, 40, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: 400ms ease-in-out;
}

.hide-header {
  top: -10rem !important;
}
.header-wrapper {
  display: flex;
  padding: 0.1rem 1rem;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  height: 3rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-logo-container .icon {
  color: white;
}
.logo-img {
  height: 100%;
}

.menu-logo-container {
  display: flex;
  transition: var(--transition);
}
.hide-menu-button {
  transform: translateX(10rem);
}
.menu-logo-container .icon {
  color: white;
}
.menu-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: var(--transition);
}
.overlay-active {
  visibility: visible;
  opacity: 1;
}
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5%;
  position: fixed;
  border-radius: 1rem 1rem 0 0;
  bottom: -100%;
  right: 0;
  height: 10rem;
  padding: 1rem;
  background-color: var(--background-color);

  width: 100%;
  transition: var(--transition);
  z-index: 2;
}

.menu-active {
  bottom: 0;
  left: 0;
}

.menu-item {
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}
.menu-icon-container {
  border: 1px solid lightgrey;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 1rem;
  display: grid;
  place-content: center;
}
.menu-icon-container .icon {
  height: 2rem;
  width: 2rem;
}
/* .menu-item .description-text{
    font-weight: 500;
    font-size: 1.1rem;
}
 */
.menu-item:not(:first-child) {
  align-items: center;
  justify-content: center;
}
.menu-item:not(:first-child) .icon {
  color: var(--primary-color);
}

.menu-item:first-child {
  position: absolute;
  top: 1rem;
  right: 1rem;
  align-self: flex-end;
}
.menu-container .medium-text {
  text-align: center;
}
.icon {
  width: var(--icon-width);
  height: var(--icon-height);
  cursor: pointer;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  z-index: 3;
}
.hero-text {
  padding: 0 1rem;
  /*     position: absolute;
    top: 55%;
    left: 50%; */
  width: 100%;
}

.description-text {
  color: var(--black-color);
  text-transform: uppercase;
  letter-spacing: var(--text-spacing);
  text-align: center;
  margin-bottom: 1rem;

  color: var(--white-color);
}

.presentation-screen {
  padding: 1rem;
  position: relative;
  background-color: var(--black-color);
}

.presentation-screen .hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  left: 0;
  top: 2rem;
  position: static;
  transform: translate(0, 0);
  padding: 0;
}
.presentation-screen .hero-text .paragraph-text {
  max-width: 70%;

  color: var(--white-color);
  text-align: right;
}
.presentation-screen .link {
  margin-top: 1rem;
  align-self: center;
}
.presentationImg {
  position: absolute;
  top: -1rem;
  left: -8rem;
  z-index: 1;
}

.footer-container {
  padding: 2rem 1rem;
  background-color: var(--background-color);
}
.footer-container .medium-text {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.footer-container .paragraph-text {
  color: var(--white-color);
  margin-top: 0.5rem;
  text-align: center;
}
.footer-container .paragraph-text:nth-of-type(2) {
  text-align: center;
}
.social-media-container {
  width: 100%;
  padding: 0 1rem;

  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.icon-sm-container {
  height: 1.5rem;
  width: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);
}
.icon-sm-container:first-child {
  height: 1.5rem;
  width: 1.5rem;
}
.icon-sm-container:hover {
  transform: scale(1.1);
}
.icon-svg {
  height: 100%;
  width: 100%;
  color: var(--white-color);
}

.pricing-container {
  padding: 3rem 1rem 2rem 1rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  position: relative;
}
.pricing-container:nth-of-type(2) {
  background-color: var(--primary-color) !important;
}
.pricing-container:nth-of-type(2) .primary-color-accent {
  color: var(--white-color);
}
.pricing-container:nth-of-type(2) .big-text::after {
  background-color: var(--white-color);
}
.pricing-container .big-text {
  position: relative;
  text-align: center;
  font-size: 3rem;

  padding: 0 1rem;
  margin-bottom: 2rem;
  color: var(--white-color);
}

.pricing-container:nth-of-type(2) .card-container {
  margin-top: 1rem;
}
.pricing-container .big-text:nth-of-type(2) {
  margin-top: 3rem;
  font-size: 2rem;
  margin-bottom: 0;
  position: static;
}
.pricing-container .big-text:nth-of-type(3) {
  font-size: 1.3rem;
  padding: 0;
  position: static;
}
.pricing-container .big-text:nth-of-type(2)::after {
  display: none;
}
.pricing-container .big-text::after {
  content: "";
  width: 8%;
  background-color: var(--primary-color);
  height: 0.5rem;
  width: 5rem;
  position: absolute;
  bottom: -0.8rem;
  transform: translate(-50%, 0);
  left: 50%;
  border-radius: 1rem;
}
.pricing-container .description-text {
  padding: 0 1rem;
}
.pricing-container .paragraph-text {
  color: var(--white-color);

  text-align: left;
}

.card-container {
  position: relative;
  align-self: center;
  margin-top: 2rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin-bottom: 2rem;
  /*   height: 25rem; */
  /*  min-height: 27rem; */
  border-radius: 0.5rem;
  transition: var(--transition);
}

.black-friday-card {
  background-color: #000000;
  padding: 6rem 1rem 2rem !important;
  z-index: 1;
}
.card-container:hover {
  box-shadow: rgb(211 49 49 / 60%) 0px 5px 15px 0px;
}
black-friday-wrapper {
  flex-wrap: wrap;
}
.black-friday-card .button:hover {
  background-color: var(--primary-color) !important;
}
.card-container .button:hover {
  background-color: var(--white-color) !important;
  color: var(--primary-color) !important;
}
.black-friday-card .button {
  background-color: var(--white-color);
  color: var(--black-color);
}
.black-friday-card .paragraph-text {
  color: var(--white-color) !important;
}
.BF-deal {
  color: #777777;
  padding: 0 25% 0 0;
  font-size: 1.2rem;
}
.BF-deal span {
  text-decoration: line-through;
  font-size: 1.5rem;
}
.item-price {
  position: absolute;
  background-color: #f53131;
  height: 61px;
  display: grid;
  place-content: center;
  right: -1rem;
  width: 80%;
  border-radius: 0 2rem 2rem 0;
  top: 2rem;
  color: var(--white-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
  animation: priceAnimation 3s infinite;
}
@keyframes priceAnimation {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  }
}

.item-price .medium-text {
  word-break: keep-all;
  word-wrap: normal;
}
.card-text-price {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 3.5rem;
  text-align: center;
  line-height: 1.5rem;
  margin-top: 1rem;
}
.price-description {
  font-size: initial !important;
  font-weight: initial;
}
.card-container .medium-text {
  font-size: 2.2rem;
  text-align: center;
}

.card-container .paragraph-text {
  color: #777777;
  text-align: justify;

  /* padding: 0 2rem; */
}
.card-list {
  font-size: 1.3rem;
  margin-top: 0.5rem;

  color: var(--white-color);

  list-style: none;
  text-align: center;
}
.second-cta {
  color: var(--white-color);
  letter-spacing: 2px;
  font-size: 1rem;
  color: #777777;
  margin-top: 0.5rem;
}
.card-list::marker {
  margin-left: 1rem;
}

.card-container .button {
  border-radius: 0.5rem;
  font-weight: 600;
}
.select-box-container {
  width: 100%;
  padding: 0 1rem;
}
.select-box-wrapper {
  width: 100%;
  padding: 1rem 0;
  border: none;

  font-size: 1rem;
  background-color: transparent;
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}
option {
  color: var(--black-color);
  padding: 1rem;
}

.slick-track {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.slick-arrow {
  display: none !important;
}
.plan-toggle {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.plan-type-container {
  padding: 0 1rem;
  flex: 1 1 6rem;
  background-color: var(--secondary-color);
  display: grid;
  place-content: center;
  cursor: pointer;
  text-align: center;
  transition: var(--transition);
  border-radius: 0.5rem;
  font-size: 1.15rem;
  min-height: 4rem;
}
.plan-type-container:active,
.button:active {
  transform: scale(1.05);
}
.black-friday-button {
  background-color: #000000 !important;
  padding: 0 1rem;
  flex: 1 1 6rem;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: var(--transition);
  border-radius: 0.5rem;
  font-size: 1.15rem;
}
.black-friday-button {
  color: var(--white-color);
}
.bf-hover {
  display: flex;
  gap: 0.5rem;
  color: var(--white-color);
  align-items: center;
}
.bf-hover:hover {
  background-color: #000000 !important;
}
.black-friday-button {
  background-color: #000000;
}

.plan-type-container:hover {
  background-color: var(--primary-color);
  box-shadow: rgba(211, 52, 52, 0.6) 0px 5px 15px 0px;
}
.discord .button:hover,
.card-container .button:hover {
  gap: 1.5rem;
}
.card-container .button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.color-accent {
  background-color: var(--primary-color);
  box-shadow: rgba(211, 52, 52, 0.6) 0px 5px 15px 0px;
}

.pricing-container:nth-of-type(2) .big-text,
.pricing-container:nth-of-type(2) .medium-text {
  color: var(--background-color);
}
.pricing-container:nth-of-type(2) .paragraph-text {
  text-align: left;
}
.pricing-container:nth-of-type(2) .card-container {
  background-color: var(--white-color);
}

.pricing-container:nth-of-type(2) .button {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pricing-container:nth-of-type(2) .card-list {
  color: var(--background-color);
}
.pricing-container:nth-of-type(2) .card-text-price,
.pricing-container:nth-of-type(2) {
  color: var(--primary-color);
}

.presentation-container {
  position: relative;
  background-color: var(--background-color);
}
.presentation-background {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
.presentation-background img {
  height: 100%;
  transform: translateX(20rem);
  opacity: 0.1;
}
.presentation-wrapper {
  padding: 4rem 1rem 1rem 1rem;
}
.presentation-container .big-text {
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto !important;
  position: relative;
  padding: 0;
  font-size: 3rem;

  padding: 0 1rem;
  color: var(--white-color);
}
.presentation-container .paragraph-text {
  color: var(--white-color);
  margin-top: 1rem;
  width: 100%;
}
.presentation-item-wrapper {
  display: flex;
  justify-content: center;
}
.john-collage {
  height: auto;
  width: 100%;
}
.card-hidden {
  display: none;
}
.black-friday-heading {
  text-align: center;
  font-size: 3rem;
  padding: 0 1rem;
  color: var(--white-color);
}
.timer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 4.5rem;
  flex-wrap: wrap;
}
.timer-wrapper {
  text-align: center;
  color: var(--primary-color);
  font-size: clamp(1rem, 20vw, 4rem);
  font-weight: bold;
}

.discord {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}
.discord .paragraph-text {
  color: var(--white-color);
  text-align: center;
}
.text-discord {
  margin-top: 0 !important;
}
.big-text--subtitle {
  font-size: 1.7rem;
  color: var(--white-color);
  text-align: center;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.discord .big-text {
  color: var(--white-color);
  font-size: 3rem;
  text-align: center;
  padding: 0 1rem;
  text-transform: uppercase;
}
.discord img {
  height: 5rem;
  position: relative;
  z-index: 2;
}
.discord .icon {
  transform: translateY(2px);
}
.discord a {
  align-self: center;
  text-decoration: none;
  width: 100%;
}
.discord .button {
  font-weight: 600;
  margin-top: 1rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 380px) {
  .hero-section .button {
    width: initial;
    padding: 1rem 2rem;
    height: inherit;
  }
}
@media only screen and (min-width: 980px) {
  .discord {
    margin-bottom: 5rem;
  }
  .discord a {
    width: min(17rem, 100%);
  }
  .hero-section .button {
    width: initial;
  }
  .timer-container {
    width: 80%;
    margin: 0 auto 3.8rem auto;
  }
  .plan-toggle {
    width: min(22rem, 70%);
  }
  .presentation-container {
    overflow: hidden;
  }
  .hero-section .button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--primary-color);
  }
  /*   .item-price {
    transform: translateX(121px);
  } */
  .john-crop {
    transform: translate(0, 0);
  }

  .presentation-item {
    width: 50%;
  }
  .plan-toggle {
    width: 80%;
    margin: 0 auto;
  }
  .presentation-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
  }
  .presentation-container .big-text {
    text-align: left;
    padding: 0;
  }
  .presentation-container .paragraph-text {
    width: 75%;
  }
  .presentation-item-wrapper {
    position: absolute;
    right: -50px;
    margin-bottom: 1rem;
  }
  .john-collage {
    height: 40vw;
  }
  .hero-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    top: 50%;
  }
  .heading-text {
    text-align: left;
    align-self: baseline;
  }
  .header-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .menu-logo-container {
    display: none;
  }
  .menu-container .medium-text {
    display: none;
  }
  .menu-container .social-media-container {
    margin-top: 0;
    justify-content: flex-end;
  }
  .menu-container {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    gap: 5vh;
    top: 0;
    right: 0;
    transition: 0s;
    left: 0;
  }
  .menu-item:first-child {
    display: none;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-section .button {
    align-self: flex-start;
    width: initial;
    padding: 1rem 2rem;
    height: inherit;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 4%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .card-container {
    /* width: min(22rem, 100%); */
    flex: 0 1 19rem;
  }
  .hero-paragraph {
    margin: 0 auto;
    width: 80%;
  }
  .pricing-container:nth-of-type(2) .paragraph-text,
  .pricing-container .paragraph-text {
    text-align: center;
  }
}
