@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    --black-color: #171D1C;
    --primary-color: #FF0022;
    --secondary-color: rgb(66, 66, 255);
    --icon-height: 1.5rem;
    --icon-width: 1.5rem;
    --transition: 200ms ease-in-out;
    --white-color: #ffffff;
    --min-height: 3rem;
    --radius: 2rem;
    --text-spacing: 0.5rem
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */

    .App{
        overflow-x: hidden;
    }
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        height: var(--min-height);
        border-radius: var(--radius);
        border: none;
        margin-top: 1rem;
        background-color:var(--primary-color);
        backdrop-filter: blur(2rem);
        cursor: pointer;
        font-size: 1rem;
        color: var(--white-color);
       
    }
    .subtitle-bottom{
        position: absolute;
        z-index: 1;
        top: -0.5rem;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
    }
    .subtitle-bottom .description-text{
        margin-bottom: 0;
    }

    .heading-text{
        text-align: center;
        color: var(--black-color);
        text-transform: uppercase;
        font-size: clamp(100px, 0.5vh,  20rem);
        line-height: 5rem;
    }

    .big-text{
        color: var(--black-color);
        font-size: clamp(100px, 0.3vh,  20rem);
        line-height: 6rem;
        text-align: right;
    }
    .medium-text{
        color: var(--white-color);
        
    }



    .link{
        text-decoration: none;
        color: hsl(240, 100%, 54%);
        font-weight: 300;
        letter-spacing: 1px;
    }

    .paragraph-text{
        font-size: 1rem;
    }

    .subtitle-text{
        margin-top: 1.5rem;
        color: var(--white-color);
    }


    .small-text{
        font-size: 0.7rem;
    }


/*  */


.hero-section{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}
.hero-section .button{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
/* }
.hero-section::after{
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(34,34,34,1) 100%);


     position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    content: ''

  } */
.heroImg{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
   
}

.header-container{
    background-color: rgba(0, 0, 0, 0.80);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: 400ms ease-in-out;
}

.hide-header{
    top: -10rem !important;
}
.header-wrapper{
    display: flex;
    padding: 0 1rem;   
    position: relative;
    justify-content: space-between;
    align-items: center;

}
.logo-container{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.menu-logo-container .icon{
    color: white;
}
.logo-img{
    height: 3rem;
    margin-top: 1rem;
}

.menu-logo-container{
    display: flex;
    transition: var(--transition);
}
.hide-menu-button{
    transform: translateX(10rem);
}
.menu-logo-container .icon{
    color: white;
}
.menu-overlay{
    position: fixed;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    transition: var(--transition);
}
.overlay-active{
    visibility: visible;
    opacity: 1;
}
.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5%; 
    position: fixed;
    border-radius: 1rem 1rem 0 0;
    bottom: -100%;
    right: 0;
    height: 10rem;
    padding: 1rem;
    background-color: rgba(23, 29, 28,0.99);

    width: 100%;
    transition: var(--transition);
    z-index: 2;
}


.menu-active{
    bottom: 0;
    left: 0;
}

.menu-item{
    padding: 1rem;
    list-style: none;
    cursor: pointer;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;

    
}
.menu-icon-container{
    border: 1px solid lightgrey;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 1rem;
    display: grid;
    place-content: center;
}
.menu-icon-container .icon{
    height: 2rem;
    width: 2rem;
}
/* .menu-item .description-text{
    font-weight: 500;
    font-size: 1.1rem;
}
 */
 .menu-item:not(:first-child){
    align-items: center;
    justify-content: center;
    
}
.menu-item:not(:first-child) .icon{
    color: var(--primary-color);
}
 
.menu-item:first-child{
    position: absolute;
    top: 1rem;
    right: 1rem;
   align-self: flex-end;
}
.menu-container .medium-text{
    text-align: center;
}
.icon{
    width: var(--icon-width);
    height: var(--icon-height);
    cursor: pointer;
}


.hero-text{
    padding: 0 1rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
    z-index: 1;
    width: 100%;
}

.description-text{
    color: var(--black-color);
    text-transform: uppercase;
    letter-spacing: var(--text-spacing);
    text-align: center;
    margin-bottom: 1rem;
}


.presentation-screen{
    padding: 1rem;
    position: relative;
    background-color: var(--black-color);
}

.presentation-screen .hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: 0;
    top: 2rem;
    position: static;
    transform: translate(0,0);
    padding: 0;
}
.presentation-screen .hero-text .paragraph-text{
    max-width: 70%;
 
    color: var(--white-color);
    text-align: right;
    
}
.presentation-screen .link{
    margin-top: 1rem;
    align-self: center;

}
.presentationImg{
    position: absolute;
    top: -1rem;
    left: -8rem;
    z-index: 1;
}


.footer-container{
    padding: 2rem 1rem;
    background-color: var(--black-color);
}
.footer-container .paragraph-text{
    color: var(--white-color);
    margin-top: 0.5rem;
}
.footer-container .paragraph-text:nth-of-type(2){
 text-align: center;   
}
.social-media-container{
    width: 100%;
    padding: 0 1rem;
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.icon-sm-container{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-svg{
    height: 100%;
    width: 100%;
}

.pricing-container{
    padding: 4rem 1rem 0 1rem;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

.pricing-container .big-text{
    text-align: center;
    font-size: 3rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.pricing-container .description-text{
    padding: 0 1rem;
 
}
.pricing-container .paragraph-text{
    color: var(--white-color);
    
}
.card-container{
    position: relative;
    align-self: center;
    width: 100%;
    overflow: hidden;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    backdrop-filter: blur(2rem);
    background-color: var(--black-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin-bottom: 2rem;
}

.card-container  .medium-text, .card-container .paragraph-text{
    padding: 1rem 1rem 0 1rem;

}

.card-list{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: var(--white-color);
    padding: 0 1rem;
    list-style: none;
}
.card-list::marker{
    margin-left: 1rem;
}
.item-price{
    width: 40%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem ;
    right: 1rem;
    color: var(--white-color);
    text-align: center;
    
}
.card-container .button{
    border-radius: initial;
    width: 100%;

}
.select-box-container{
    width: 100%;
    padding: 0 1rem;
}
.select-box-wrapper{
    width: 100%;
    padding: 1rem 0;
    border: none;
    
    font-size: 1rem;
    background-color: transparent;
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
}
option{
    color: var(--black-color);
   padding: 1rem;
}

.slick-track{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

.slick-arrow{
    display: none !important;
}

@media only screen and (min-width: 900px) {
    .menu-logo-container{
        display: none;
    } 
    .menu-container .medium-text{
        display: none;
    }
    .social-media-container{
        margin-top: 0;
    }
    .menu-container{
        height: inherit;
        width: inherit;
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: transparent;
        gap: 5vh;
        top: 0;
        right: 0;
        transition: 0s;
        left: 0;
        backdrop-filter: blur(0);
        
    }
    .menu-item:first-child{
        display: none;
       
    }
    .hero-text{
        display: flex;
        flex-direction: column;
    }
    .button{
        align-self: center;
        width: initial;
        padding: 1rem 2rem;
        height: inherit;
    }
}